{% extends "project/base.html" %}
{% load static %}
{% load martortags %}

{% block content %}
<hr>

<h3 id="" class="font-weight-bold text-center">Projects & Portfolio</h3>

<div class="row justify-content-center my-3">
  <p>
  Any past projects I've worked.
  </p>
</div>
<hr>

<h5 class="text-center mb-5">I've shared {{ projects.count }} project{{ projects.count|pluralize }}</h5>

{% for project in projects %}
<hr>
<div class="row justify-content-center my-3">
  <div class="col-md-10">
    <a href="{% url 'portfolio:detail' project.id %}">
      <h2>{{ project.title }}</h2>
    </a>
    <h5 class="text-muted">{{ project.date|date:'M d Y'|upper }}</h5>
    <h4>{{ project.description|striptags|truncatechars:100 }}</h4>
    <img src="{{ project.image.url }}" class="img-fluid mb-4">
  </div>
</div>
{% endfor %}

{% endblock %}
