{% extends "project/base.html" %}

{% load static %}

{% block content %}

<br>
<br>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-auto">
      <hr>
      <h1 id="hometext" class="font-weight-bold">Kane Rhee</h1>
      <h2 class="font-weight-bold">Data Analyst at j2 Global, Inc</h2>

      <h3 class="font-weight-bold">Based in Los Angeles, CA </h3>
    </div>

    <div class="col-md-auto">
      <hr>
      <br>
    </div>

    <div class="col-md-auto">
      <br>

      <h6 class="font-weight-bold">Skills:</h6>

      <p>
      <ul style="font-size:10px">
        <li> Python </li>
          <ul>
            <li> NumPy </li>
            <li> SciPy </li>
            <li> Pandas </li>
            <li> Tensorflow </li>
            ----------
            <li> Django </li>
            <li> StreamLit </li>
            <li> Altair </li>
          </ul>
        <li> SQL </li>
        <li> SAS </li>
        <li> HTML/CSS </li>
        <li> JavaScript </li>
        <li> jQuery </li>
        <li> Domo </li>
        <li> Tableau </li>
        <li> Office Suite </li>
        <li> AWS & Redshift </li>
        <li> Google Cloud Compute </li>
      </ul>
      </p>

      <h6 class="font-weight-bold">Marketing:</h6>
      <p class="h6">
        <ul style="font-size:10px">
          <li> Google Analytics</li>
          <li> Google Tag Manager</li>
          <li> Adobe Analytics</li>
          <li> Adobe DTM</li>
          <li> Adobe Launch</li>
          <li> Yahoo Gemini</li>
          <li> Facebook Ads </li>
        </ul>
      </p>
    </div>

    <div class="col col-lg-5">
      <img src="{% static 'project/SquareBlonde.jpg' %}" class="img-fluid">
    </div>
  </div>
</div>
<br>
<br>


<hr>
<h2 class="mt-5">My Latest:</h2>
<hr>
<div class="container-fluid">
  {% for project in projects %}
  <hr>
  <div class="container-fluid">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ project.title }}</h3>
    <p>{{ project.date }}
    <p>{{ project.description }}</p>
    <br>
    <br>
    <br>
  </div>
  {% endfor %}
</div>

{% endblock %}
